
* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100vw;
    height: 10vh;
    padding: 6rem 0;
    background: #F7f7f9;
    justify-content: center;
    align-items: center;
}

.head h1 {
    font-size: 3rem;
    color: #D2302C;
    text-align: center;
}

.location {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background: #e5e5ea;
}

.location-img {
    background: red;
}

.instruction {
    width: 70%;
}
.instruction h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
}
.instruction p {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6;
    color: #0000;
    
}

.instruction ol{
    font-size: 1.3rem;
    line-height: 1.6;
    color: #D2302C;
    padding-left: 3rem;
}

.hbtn-container {
    
    font-size: 1.6rem;
    
    gap: 1rem;
}

a:link {
    text-decoration: none;
}

a.hbtn {
    color: #F7F7F9;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 0.5rem;
    border: 0.2rem solid #D2302C;
    background: #D2302C;
}

a.hbtn:hover {
    background: #F7F7F9;
    color: #D2302C;
}

.schedule {
    padding: 1rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}
